<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.anthropic.claudefordesktop.helper</string>
    <key>CFBundleName</key>
    <string>Claude Helper (Plugin)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTSDKBuild</key>
    <string>24F74</string>
    <key>DTSDKName</key>
    <string>macosx15.5</string>
    <key>DTXcode</key>
    <string>1640</string>
    <key>DTXcodeBuild</key>
    <string>16F6</string>
    <key>LSEnvironment</key>
    <dict>
      <key>MallocNanoZone</key>
      <string>0</string>
    </dict>
    <key>LSUIElement</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>Claude Helper (Plugin)</string>
    <key>CFBundleExecutable</key>
    <string>Claude Helper (Plugin)</string>
    <key>CFBundleVersion</key>
    <string>1.1.7714</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.7714</string>
    <key>ElectronAsarIntegrity</key>
    <dict>
      <key>Resources/app.asar</key>
      <dict>
        <key>algorithm</key>
        <string>SHA256</string>
        <key>hash</key>
        <string>c4d19c4fd0cb7533e6a728be1a2374dbdd5e2939bde985d0912240aaec7c804d</string>
      </dict>
    </dict>
  </dict>
</plist>